@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
p {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

main {
  background-color: #e5e7eb;
}

section {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #e5e7eb;
}

.header {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  background-color: white;
}

.section-header {
  background-color: white;
}

.header__about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: auto;
}
.header__logo .text_logo {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.header__info_abot_company {
  text-align: end;
  border-right: solid 1px #a78bfa;
}

.header__info {
  margin-right: 12px;
  line-height: 24px;
}

.header__phone {
  margin-left: 12px;
}
.header__phone .header__phone-info_text {
  font-size: 20px;
  font-weight: 300;
}
.header__phone .header__phone-info {
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}

.nuv__list {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 24px;
}

.nav__item {
  list-style: none;
  transition: box-shadow 0.3s ease;
  transition: 0.3s;
}
.nav__item .nav__link {
  color: #111827;
  font-weight: 700;
}

.nav__link:not(.nav__link-btn):hover {
  color: #8b5cf6;
}

.nav__item-button {
  background-color: #a78bfa;
  margin-left: auto;
  padding: 10px 28px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.nav__item-button .nav__link {
  color: white;
}

.nav__item-button:hover {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  transform: translateY(-4px);
}

.info {
  display: flex;
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #e5e7eb;
}

.info__p-bold {
  color: #111827;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 12px;
}

.info__p-normal {
  color: #111827;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.info__img {
  width: 505px;
  height: 232px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 48px;
}

.calculator__about {
  text-align: center;
}

.calculator__name {
  color: #111827;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 16px;
}

.calculator__info {
  padding-bottom: 28px;
}

.calculator__input {
  width: 606px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.calculator__input input {
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #111827;
}
.calculator__input input:not(.calculator__streach) {
  padding: 12px;
  flex-basis: 43.4%;
}
.calculator__input button {
  border: none;
  border-radius: 4px;
  background: #8b5cf6;
  padding: 10px 28px;
  color: white;
}

.calculator__btn {
  transition: box-shadow 0.3s ease;
  transition: 0.3s;
}

.calculator__btn:hover {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  transform: translateY(-4px);
}

.calculator__streach {
  width: 100%;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.advantages .advantages__title {
  color: #111827;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}

.advantages__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages__card {
  width: 450px;
  padding: 24px;
  display: flex;
  gap: 12px;
}

.advantages__name {
  color: #111827;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 12px;
}

.advantages__img {
  width: 113px;
  height: 113px;
}

.guarantee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guarantee__info {
  width: 80%;
  text-align: center;
  padding-bottom: 24px;
}

.guarantee__confirmation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.guarantee__confirmation .guarantee__card-text {
  padding-top: 4px;
  text-align: center;
  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.guarantee__img {
  align-self: stretch;
  height: 375px;
}

.guarantee__card {
  width: 400px;
}

.guarantee__title {
  color: #111827;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}

.guarantee__more {
  padding: 16px 28px;
  margin-top: 36px;
  margin-bottom: 48px;
  border-radius: 12px;
  background: #8b5cf6;
  color: white;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  transition: box-shadow 0.3s ease;
  transition: 0.3s;
}

.guarantee__more:hover {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  transform: translateY(-4px);
}

.reviews-slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 48px;
}

.reviews-slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.reviews-slider__slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.reviews-slider__img {
  align-self: flex-end;
}

.reviews-slider__text {
  margin-bottom: 10px;
  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.reviews-slider__author {
  font-size: 16px;
  color: #6b7280;
  font-weight: 300;
  line-height: 24px;
  align-self: flex-end;
}

.reviews-slider__title {
  text-align: center;
  color: #111827;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px; /* 120% */
}

.reviews-slider__quot {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
  flex-direction: row-reverse;
}

.questions {
  width: 900px;
  background-color: white;
  margin: auto;
  border-radius: 16px;
}

.questions__title {
  text-align: center;
  color: #111827;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  padding-top: 64px;
}

.questions__input {
  width: 606px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 24px;
}

.questions__item {
  width: 36.5%;
  padding: 12px;
  flex-shrink: 0;
}

.questions__textarea {
  width: 497px;
  height: 150px;
  padding: 12px;
}

.questions__btn {
  margin-top: 4px;
  padding: 10px 28px;
  width: 86%;
  text-align: center;
  border: #8b5cf6;
  border-radius: 4px;
  background: #8b5cf6;
  color: #f9fafb;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.questions__btn:hover {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  transition: 0.3s;
  transform: translateY(-4px);
}/*# sourceMappingURL=style.css.map */